{% extends 'base.html' %}

{% block title %}Eco-Friendly Challenges{% endblock %}

{% block content %}


<div class="container my-6">
    <div class="card max-w-card">
        <div class="card-body">
            <h2 style="color: rgb(95, 221, 145);">Eco-Friendly Challenges</h2>
            <h4 class="card-title">🌿 Week 1: Reduce plastic usage. Use reusable containers for your meals.</span></h4>
            <p class="card-text">Plastics contribute significantly to environmental pollution. This week, make a
                conscious effort to reduce
                your plastic usage by opting for reusable containers for your meals. Avoid single-use plastics like
                plastic
                bags and utensils. Every small step makes a big difference!</p>
            <h4>🌿 Week 2: Conserve energy. Turn off lights and appliances when not in use.</h4>
            <p>Conserving energy is essential for a sustainable lifestyle. This week, develop the habit of turning off
                lights and unplugging appliances when they are not in use. Consider using energy-efficient bulbs and
                appliances to reduce your overall energy consumption.
            </p>

            <h4>🌿 Week 3: Choose sustainable transportation. Walk, bike, or use public transport.</h4>
            <p>Your choice of transportation has a direct impact on the environment. For this week's challenge, opt for
                sustainable transportation options. Walk, bike, use public transport, or carpool to reduce your carbon
                footprint. By making these choices, you contribute to cleaner air and a healthier planet.
            </p>
            <p>Stay tuned for more challenges and make a positive impact!</p>

        </div>
    </div>
</div>

<p>Stay tuned for more challenges and make a positive impact!</p>

<!-- Welcome to Green Action Quest!

Embark on a transformative journey towards a more sustainable and eco-friendly lifestyle with Green Action Quest. Our
mission is to empower individuals like you to make conscious choices that positively impact the environment.

What We Offer:

🌱 Eco-Friendly Challenges:

🌿 Carbon Footprint Calculator: -->


{% endblock %}